{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime", [
    "prismjs",
    {
      "languages": ["javascript", "css", "html", "cpp", "c", "bash","python", "markdown", "java", "rust", "go"],
      "plugins": ["line-numbers"],
      "theme": "okaidia",
      "css": true
    }
  ]],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["transform-vue-jsx", "transform-es2015-modules-commonjs", "dynamic-import-node"]
    }
  },
}
