<!DOCTYPE html>
<html>
    <head>
        <title>Compile Page!!</title>
    </head>
    <body>
        <h1>This is a online compiler</h1>
        <p>Please write a python code in text-box below:</p>
        <form method="POST" action="/compiling/">
            {% csrf_token %}
            <textarea type="number" style="width:600px; height:200px;" name="source_code">
print("hello csc4001!!")
            </textarea>
            <input type="submit" name="login" >
        </form>
    </body>
</html>